<div class="container">
  <h2>New Comment</h2>

  <%= form_for :comment, method: 'post', url: comments_url do |f| %>
  
    <div class="form-group">
      <%= f.label :content %>      
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">


    <div class="form-group">
      <%= f.submit "Add comment", class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>