<div class="container">
  <% @feed_posts.each do |post| %>
  <div class="col-md-12">
    <h2><span class="badge"><%= post.karma %></span><%= link_to "#{post.title}", post_url(post) %></h2>
    <% if post.url %>
      <small><%= post.url %></small>
    <% end %>
    <p><%= post.short_content %></p>
    <span class="badge">Posted <%= post.readable_timestamp(post.created_at) %>  
        by <%= link_to post.author_username, user_url(post.author) %> to 
        <%=link_to post.topic_title, topic_url(post.topic) %>
    </span>
  </div>
  <% end %>
  <nav aria-label="Feed Navigation">

    <div class="row">

      <div class="col-md-6">

        <ul class="pagination pagination-lg justify-content-left">
          <li class="page-item"><%= link_to_previous_page @feed_posts, 'Previous Page' %></li>
        </ul>
      
      </div>
      
      <div class="col-md-6">
      
        <ul class="pagination pagination-lg justify-content-end">
          <li class="page-item"><%= link_to_next_page @feed_posts, 'Next Page' %></li>
        </ul>
      
      </div>
    </div>
  </nav>
</div>
