<div class="container">
  <h2><span class="badge"><%= @post.karma %></span><%= @post.title %></h2>
  <% if @post.url %>
    <small><%= @post.url %></small>
  <% end %>
  <p><%= @post.content %></p>
    <span class="badge">Posted <%= @post.readable_timestamp(@post.created_at) %>  
        by <%= link_to @post.author_username, user_url(@post.author) %> to 
        <%=link_to @post.topic_title, topic_url(@post.topic) %>
    </span>
  <br>
</div>
<br>
<div class="container">
  <p>Add comment</p>
  <%= form_for :comment, method: 'post', url: comments_url do |f| %>
  
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

    <div class="form-group">
      <%= f.submit "Reply", class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>
<div class="container">

<div class="container">

  <h4>Comments</h4>

  <% if @post.top_level_comments.empty? %>

    <p>It's quiet... Too quiet. Be the first to comment!</p>

  <% else %>
    <ul class="list-group">
      <% @comments_by_parent[nil].select { |c| c.parent_comment_id.nil? }.each do |top_level_comment| %>
        <li class="list-group-item">
          <%= render("comments/comment", comment: top_level_comment, comments_by_parent: @comments_by_parent) %>
        </li>
      <% end %>
  </ul>
  <% end %>
  <%= link_to "Back to feed", feed_url %>
</div>
