<!DOCTYPE html>
<html>
  <head>
    <title>Oddly-Specific</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="header-nav">
        <h1 class="header-logo">
          <a href="#">Oddly-Specific</a>
        </h1>
      </nav>
    </header>
    <%= yield %>
  
  </body>
</html>
